$primary-red: #bd5b5b;
$secondary-red: #ffb3b3;
$tertiary-red: #ffd9d9;
$primary-white: #ffffff;
$secondary-white: #f3f3f3;
$middle-white: #f9f9f9;
$primary-black: #0c0c0c;

/* from bootstrap documentation */
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
