@import "constants.scss";

$border-radius: 17.5px;
.listContainer {
    height: 600px;
    background-color: $primary-white;
    padding: 20px;
    margin-block: 20px;
    border-radius: $border-radius;

    .title {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 400;
        text-decoration: underline;
    }

    .content {
        height: 85%;
        overflow: scroll;
        list-style: none;
        background-color: $secondary-white;
        border-radius: $border-radius;
        padding: 0;

        .controlButtons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            user-select: none;
        }

        .element {
            border-bottom: 2px solid $secondary-red;
            $padding: 15px;

            .principalInfo {
                display: flex;
                align-items: center;
                gap: 20px;
                user-select: none;
                padding: $padding;

                .pfp {
                    aspect-ratio: 1/1;
                    height: 55px;
                    border: 2px solid $secondary-red;
                    border-radius: 50%;
                    pointer-events: none;
                }

                &:hover {
                    animation: user-hover 0.2s ease-in-out;
                    filter: brightness(0.8);
                    background-color: $tertiary-red;
                    cursor: pointer;
                }

                @keyframes user-hover {
                    from { 
                        filter: brightness(1.0); 
                        background-color: $secondary-white;
                    } 
                    to { 
                        filter: brightness(0.8); 
                        background-color: $tertiary-red;
                    }
                }
            }

            .details {
                padding: $padding;
                background-color: $middle-white;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}