@import "constants.scss";

body {
  background-color: $secondary-white !important;
}

.btn-primary {
  background-color: $primary-red !important;
  border: 1px solid $primary-red !important;
  font-size: 1.15rem;

  &:hover {
    filter: brightness(0.9);
  }
}

.dropdown-menu {
  background-color: $primary-white !important;
  a {
    color: $primary-black !important;
    &:hover {
      background-color: $primary-red !important;
      color: $secondary-white !important;
    }
  }
}
