@import "constants.scss";

.title {
  margin-block: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}


.principalContainer {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  gap: 40px;

  .pfp {
    width: 60%;
    max-width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 4px solid $tertiary-red;
    margin-inline: auto;

    &:hover {
      animation: on-pfp-hover 0.2s ease-in-out;
      filter: brightness(0.8);
    }

    @keyframes on-pfp-hover {
      from { filter: brightness(1.0); }
      to { filter: brightness(0.8); }
    }
  }

  .fieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: center;

    .pfp {
      margin-inline: 0;
    }
  }
}
